.container {
  display: grid;
  grid-template: repeat(2, auto) / repeat(4, minmax(100px, 1fr));
  gap: 2em 1em;
}

button {
  color: white;
  background-color: #697565;
  border: 1px solid white;
  border-radius: 0.5em;
  padding: 1em 3em;
  font-size: large;
  margin-bottom: 2em;
  cursor: pointer;
}

button:hover {
  color: black;
  background-color: #ecdfcc;
}
